# Ignore target directories
target/
rpc-common/target/
rpc-consumer/target/
rpc-core/target/
rpc-provider/target/

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore compiled class files
*.class
